:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 350px;
  min-height: 100vh;
  justify-content: center;
}

.root-box {
  display: flex;
  align-self: center;
  width: 700px;
}

.board-box {
  display: flex;
  flex-direction: column;
  width: 225px;
  justify-self: center;
}

.tic-tac-board {
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: white;
  border-radius: 8px;
  border: 2px dashed #999;
  padding: 0.6em 1.2em;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: inset 0px 0px 35px #1479ea;
}
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.items-start {
  align-items: start;
}

.items-end {
  align-items: end;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.game {
  display: flex;
  width: 700px;
}

.game-board {
  width: 275px;
}

.status {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 218px;
  height: 60px;
  border: 3px ridge #999;
  background-color: transparent;
  color: white;
  border-radius: 7px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: inset 0px 0px 35px #1479ea;
}

.square {
  color: rgb(0, 51, 255);
  background: transparent;
  border: 3px ridge #999;
  float: left;
  font-size: 54px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: 2px;
  margin-top: 2px;
  padding: 0;
  text-align: center;
  width: 74px;
  height: 74px;
  box-shadow: inset 0px 0px 35px #1479ea;
}

.game-info {
  padding-top: 54px;
}

.move-history li {
  margin-bottom: 10px;
}
